<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>EvaLine{% if title %} - {{ title }}{% endif %}</title>
    <link rel="icon" type="image/png" href="/static/icon/favicon.ico"/>
    
    <!--CUSTOM CSS-->
    <link rel="stylesheet" type="text/css" href="/static/css/evaline.css">
    <!--CUSTOM CSS-->
    
    <!--BULMA-->
    <link rel="stylesheet" type="text/css" href="/static/bulma/0.9.1/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="/static/bulma/bulma-divider.min.css">
    <link rel="stylesheet" type="text/css" href="/static/bulma/bulma-tagsfield.css">
    <link rel="stylesheet" type="text/css" href="/static/bulma/bulma-calendar.min.css">
    <!--BULMA-->

    <!--FONTS-->
    <link rel="stylesheet" type="text/css" href="/static/css/font.css">
    <!--FONTS-->
    
    <!--FONTAWESOME-->
    <link rel="stylesheet" type="text/css" href="/static/font-awesome/css/all.min.css">
    <!--FONTAWESOME-->
</head>