<div class="sidebar-menu column is-2 p-0" id="id-sidebar-menu" style="display:none;">
    <nav class="column m-0 p-0 is-12 sidebar-content" role="navigation" aria-label="main navigation">
        <a class="is-evaline is-fullwidth column is-12" href="#">
            <div class="is-fullwidth m-3">
                <div>
                    <b>EvaLine</b>
                </div>
            </div>
        </a>
        <a class="link-evaline is-fullwidth" href="/dashboard">
            <div class="is-fullwidth p-2 m-1">
                <div>
                    Dashboard
                </div>
            </div>
        </a>
        <a class="link-evaline is-fullwidth" href="/home">
            <div class="is-fullwidth p-2 m-1">
                <div>
                    Home
                </div>
            </div>
        </a>
        <!-- <a class="link-evaline is-fullwidth" href="/myprofile" style="bottom: 0; position: inherit; width: inherit;"> -->
        <a class="link-evaline is-fullwidth" href="/myprofile">
            <div class="is-fullwidth p-2 m-1">
                <div>
                    My Account
                </div>
            </div>
        </a>
    </nav>
</div>