<!-- jQuery first, then Bootstrap JS. -->
<!-- <script src="/static/assets/js/app.js"></script> -->

<!-- JS -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script> -->

<!--script src="assets/js/jquery-panelslider/jquery.panelslider.min.js"></script-->

<!-- <script src="/static/assets/js/fresh.js"></script> -->
<!-- /JS -->
<script src="/static/jquery/2.2.4/jquery.min.js"></script>
<script src="/static/js/preloader.js"></script>
<script src="/static/js/navbar.js"></script>
<script src="/static/js/backtotop.js"></script>
<script src="/static/js/sidebar.js"></script>
<script src="/static/bulma/bulma-tagsfield.js"></script>
<script src="/static/bulma/bulma-calendar.min.js"></script>
<script src="/static/js/main.js"></script>