<nav id="navbar-clone" class="navbar widget-navbar is-white set-inactive p-2 has-box-shadow" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            {% if user.is_authenticated %}
            {% endif %}
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="cloned-navbar-menu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="cloned-navbar-menu" class="navbar-menu is-fixed">
            <div class="navbar-start">
                {% if user.is_authenticated %}

                {% endif %}
            </div>

            <div class="navbar-end">
                {% if not user.is_authenticated %}
                    <a class="navbar-item" href="login">
                        <span class="button signup-button rounded is-danger raised">
                            Sign in
                        </span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>